# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# test
coverage/
playwright-report/
test-results/

# docker volumes (local data)
infra/.data/
